<ion-header>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Lista de Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
          <ion-card class="ioncard"  (click)="detalheProduto('/produto/cadastro')"  >
            <ion-card-header>
               <ion-icon name="Teste" color="success" class="ioncardIcon"></ion-icon>
              <ion-card-subtitle>teste</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
             
            </ion-card-content>
          </ion-card>
        </ion-col>
        
    </ion-row>

</ion-content>
