<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Lista de Produtos</ion-title>
  </ion-toolbar> 

  <ion-searchbar (ionInput)="filterProducts($event)" [(ngModel)]="campoDeBusca" 
  placeholder="Filtrar Produtos" (ionCancel)="filterProducts($event)"
  [showCancelButton]="true">
</ion-searchbar>
</ion-header>

<ion-content>
   
    
    <ion-list  *ngFor="let product of produtos"  >
        <ion-item [routerLink]="['/produto/cadastro/', product.id]">
          <ion-avatar slot="start">
              <ion-img  src="/assets/imgproduto.png" ></ion-img>
          </ion-avatar>
        
          <ion-label >{{product.name}}</ion-label>
        </ion-item>
   </ion-list>

   <ion-fab vertical="bottom" horizontal="end" slot="fixed"   (click)="redirectPage()"  >
      <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>

