<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title slot>Categorias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item button *ngFor="let cat of categorias" [routerLink]="['/categoria/cadastro/', cat.id]">
      <ion-label>
        <h2>{{ cat.name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed"   (click)="redirectPage()"  >
        <ion-fab-button color="primary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    
</ion-content>
<!--
<ion-footer>
     <ion-button  class="">
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    
</ion-footer>-->

