<ion-header>
  <ion-toolbar color="success">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Criar Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <!-- -->
  
    <br/>
    <ion-grid [hidden]="lista.id != null">
      <ion-item>
          <ion-label  position="fixed">Nome</ion-label>
          <ion-input [(ngModel)]="lista.name" placeholder="nome da lista"></ion-input>
      </ion-item>
      <br/>
      
        <ion-row>
            <ion-col>
                <ion-button color="success" expand="block" expand="full" size="large"
                 (click)="salvarLista()" [disabled]="lista.name == null">
                    <ion-icon name="add"></ion-icon>
                    Adicionar Items
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
  
  <ion-grid [hidden]="lista.id == null">
    <ion-list  *ngFor="let item of items"  (click)= "onclickItem(item)">
       
      <ion-item >
      <!--<ion-img  src="'{{product.img}}'" ></ion-img>-->
       <ion-avatar slot="start">
          <ion-img  src="/assets/imgproduto.png" ></ion-img>
       </ion-avatar>

      <ion-label >{{item.nomeProduto}}</ion-label>

      <ion-checkbox  [(ngModel)]="item.adicionado" 
        [disabled]="lista.id == null" >
      </ion-checkbox>
      </ion-item>
    </ion-list>
    </ion-grid>
  </ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-item>

          <ion-grid> 
            <ion-row>
                <ion-col>
                    <ion-label  style="font-weight: bold;font-size: 15px" > {{total}} Selecionados</ion-label>
                </ion-col>
                <ion-col>
                    <ion-label slot="end" color="primary" style="font-weight: bold;font-size: 15px" >{{lista.name}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-button expand="block"  color="success" [disabled]="lista.id==null && items.length==0" >
                        <ion-icon name="cart"></ion-icon>
                        Executar
                    </ion-button>
                </ion-col>
            </ion-row> 
          </ion-grid>
        </ion-item>
      
    </ion-toolbar>
</ion-footer>