<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Minhas Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list *ngFor="let item of lista">
    <ion-item (click)="listaDetalhe('/lista/cadastro')" >
   
     <!-- <ion-img  src="'{{item.img}}'" ></ion-img>-->
     <ion-icon name="paper"  class="ioncardIcon"></ion-icon>
  
      <ion-label style="margin-left: 20px;">{{item.name}}</ion-label>
    </ion-item>
  
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="redirectPage()" >
      <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
