
 <ion-header>
        <ion-toolbar color="success">
               <ion-title slot="start" style="color: white;font-weight: bold;">Anota Aí</ion-title>
               
              <ion-avatar slot="end">
                  <ion-img style="height: 63%;margin-top: 12px; margin-left: -10px;" src="/assets/logo.png" ></ion-img>
               </ion-avatar>
            
        </ion-toolbar>
 </ion-header>
<ion-content style="background-color: #f3f4f6;">
  <ion-grid >
        
      <ion-row>
          <ion-col>
              <ion-label color="success"  style="font-weight: bold;font-size: 15px" >Hoje {{dataAtual}}</ion-label>
          </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col>
              <ion-label color="success" style="font-weight: bold;font-size: 15px" >O que deseja fazer?</ion-label>
          </ion-col>
      </ion-row>
        
   
      <ion-row>
          <ion-col *ngFor="let item of menu"  size="6">
            <ion-card class="ioncard"  (click)="redirectPage(item.link)"  >
              <ion-card-header>
                
                    <ion-icon  name="{{item.icon}}" class="ioncardIcon">
                    </ion-icon>
              
               
                <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
               
              </ion-card-content>
            </ion-card>
          </ion-col>
          
      </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
        
                <ion-tab-button tab="home">
                    <ion-icon name="home"></ion-icon>
                    <ion-label>Inicio</ion-label>
                </ion-tab-button>
        
              <ion-tab-button tab="schedule">
                <ion-icon name="calendar"></ion-icon>
                <ion-label>Promoções</ion-label>
                <ion-badge>6</ion-badge>
              </ion-tab-button>
          
              <ion-tab-button tab="person">
                <ion-icon name="contacts"></ion-icon>
                <ion-label>Conta</ion-label>
              </ion-tab-button>
          
              <ion-tab-button tab="about">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Sobre</ion-label>
              </ion-tab-button>
            </ion-tab-bar>
          </ion-tabs>
    </ion-toolbar>
</ion-footer>

