//ion-content{
  //--ion-background-color :#f4f4f4;
//}
.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .toolbarHome {
    background-color: #1c7eb4 !important;
  }
  
  .ioncard{
    background-color: white;
    border: solid 1px #18733c;
    box-shadow: -1px 1px;
  }
  
  .ioncardIcon{
    font-size: 30px;
    color: #18733c !important;
  }
  
  .ionGridHome{
    background-color:  #f3f4f6;
  }
  
  .ionTitleHome{
    //color: var(--ion-color-step-550,#737373);
    font-size: 15px;
    color: #1c7eb4 !important;
  }
  
  .imgLogo{
    height: 95px;
    width: 335px;
  }

  .titleHome{
    color: white;
    font-size: 35px;
  }
 
