
 <ion-header>
        <ion-toolbar >
          <div class="toolbarHome" >
              <br/>
              <ion-grid >
                  <ion-row>
                      <ion-col>
                         
                      </ion-col>
                      <ion-col>
                          <ion-img  src="/assets/logo.png" ></ion-img>
                         <!--<ion-title class="titleHome" >
                            Anota Aí
                         </ion-title>-->
                      </ion-col>
                      <ion-col>
                         
                      </ion-col>
                  </ion-row>
              </ion-grid>    
          </div>
        </ion-toolbar>
      </ion-header>
<ion-content style="background-color: #f3f4f6;">
  <ion-grid >
        
      <ion-row>
          <ion-col>
              <ion-title class="ionTitleHome" >Hoje {{dataAtual}}</ion-title>
          </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col>
              <ion-title class="ionTitleHome" >O que deseja fazer?</ion-title>
          </ion-col>
      </ion-row>
        
   


      <ion-row>
          <ion-col *ngFor="let item of menu"  size="6">
            <ion-card class="ioncard"  (click)="redirectPage(item.link)"  >
              <ion-card-header>
                 <ion-icon name="{{item.icon}}" class="ioncardIcon"></ion-icon>
                <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content>
               
              </ion-card-content>
            </ion-card>
          </ion-col>
          
      </ion-row>
  </ion-grid>
</ion-content>
